In [ ]:
'''✔ Cleaning Tasks
Convert "TotalCharges" to numeric (dataset has spaces → become NaN).
Fill missing numeric values using:
Median for tenure, MonthlyCharges, TotalCharges.
Replace missing categorical values with "Unknown".
✔ Feature Engineering
Create the following new columns:
1. tenure_group
Based on tenure months:
0–12   → "New"
13–36  → "Regular"
37–60  → "Loyal"
60+    → "Champion"
2. monthly_charge_segment
MonthlyCharges < 30  → "Low"
30–70              → "Medium"
> 70                 → "High"
3. has_internet_service
Convert InternetService column:
"DSL" / "Fiber optic" → 1
"No" → 0
4. is_multi_line_user
1 if MultipleLines == "Yes"
0 otherwise
5. contract_type_code
Map:
Month-to-month → 0
One year      → 1
Two year      → 2
✔ Drop unnecessary fields
Remove:
customerID, gender'''

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv(r'C:\aids_training_day1\Day13_ETL_Pipeline_Titanic\WA_Fn-UseC_-Telco-Customer-Churn.csv', encoding='ISO-8859-1')
print("Head:",df.head())

Head:    customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
0  No phone service             DSL             No  ...               No
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
4                No     Fiber optic             No  ...               No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PaymentMethod MonthlyCharges  TotalCharges Churn
0           Electronic check          29.85         29.85    No
1               Mailed check          56.95        1889.5    No
2               Mailed check          53.85        108.15   Yes
3  Bank transfer (automatic)          42.30       1840.75    No
4           Electronic check          70.70        151.65   Yes

[5 rows x 21 columns]

In [6]:
df.isnull().sum()
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [10]:
df['TotalCharges']=pd.to_numeric(df['TotalCharges'],errors='coerce')
df.dtypes
df.isnull().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [14]:
df['TotalCharges']=df['TotalCharges'].fillna(df['TotalCharges']).median()
df['TotalCharges']

0       1397.475
1       1397.475
2       1397.475
3       1397.475
4       1397.475
          ...
7038    1397.475
7039    1397.475
7040    1397.475
7041    1397.475
7042    1397.475
Name: TotalCharges, Length: 7043, dtype: float64

In [16]:
def tenure_group(t):
    if t<=12:
        return "New"
    elif t<36:
        return "Regular"
    elif t<=60:
        return "Loyal"
    else:
        return "Champion"

df["tenure_group"]=df["tenure"].apply(tenure_group)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_group
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,1397.475,No,New
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,No,One year,No,Mailed check,56.95,1397.475,No,Regular
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,1397.475,Yes,New
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1397.475,No,Loyal
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,1397.475,Yes,New

In [17]:
'''2. monthly_charge_segment
MonthlyCharges < 30  → "Low"
30–70              → "Medium"
> 70                 → "High"  '''

def monthly_charge_segment(m):
    if m<30:
        return "Low"
    elif (m>30 and m<70):
        return "Medium"
    elif m>70:
        return "High"

df["monthly_charge_segment"]=df["MonthlyCharges"].apply(monthly_charge_segment)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_group,monthly_charge_segment
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,Month-to-month,Yes,Electronic check,29.85,1397.475,No,New,Low
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,One year,No,Mailed check,56.95,1397.475,No,Regular,Medium
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,Month-to-month,Yes,Mailed check,53.85,1397.475,Yes,New,Medium
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,No,No,One year,No,Bank transfer (automatic),42.30,1397.475,No,Loyal,Medium
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,Month-to-month,Yes,Electronic check,70.70,1397.475,Yes,New,High

In [21]:
'''3. has_internet_service
Convert InternetService column:
"DSL" / "Fiber optic" → 1
"No" → 0  '''

def has_internet_service(it):
    if (it=="DSL" or it=="Fiber optic"):
        return 1
    elif it=="No" :
        return 0

df["has_internet_service"]=df["InternetService"].apply(has_internet_service)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_group,monthly_charge_segment,has_internet_service
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,Month-to-month,Yes,Electronic check,29.85,1397.475,No,New,Low,1
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,One year,No,Mailed check,56.95,1397.475,No,Regular,Medium,1
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,Month-to-month,Yes,Mailed check,53.85,1397.475,Yes,New,Medium,1
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,No,One year,No,Bank transfer (automatic),42.30,1397.475,No,Loyal,Medium,1
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,Month-to-month,Yes,Electronic check,70.70,1397.475,Yes,New,High,1

In [23]:
'''4. is_multi_line_user
1 if MultipleLines == "Yes"
0 otherwise '''

def is_multi_line_user(m):
    if (m=="Yes"):
        return 1
    else:
        return 0

df["is_multi_line_user"]=df["MultipleLines"].apply(is_multi_line_user)
df.tail()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_group,monthly_charge_segment,has_internet_service,is_multi_line_user
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,One year,Yes,Mailed check,84.80,1397.475,No,Regular,High,1,1
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,One year,Yes,Credit card (automatic),103.20,1397.475,No,Champion,High,1,1
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,Month-to-month,Yes,Electronic check,29.60,1397.475,No,New,Low,1,0
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,Month-to-month,Yes,Mailed check,74.40,1397.475,Yes,New,High,1,1
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Two year,Yes,Bank transfer (automatic),105.65,1397.475,No,Champion,High,1,0

In [24]:
'''5. contract_type_code
Map:
Month-to-month → 0
One year      → 1
Two year      → 2'''

contract_map = {
    "Month-to-month": 0,
    "One year": 1,
    "Two year": 2
}

df["contract_type_code"] = df["Contract"].map(contract_map)
df.tail()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_group,monthly_charge_segment,has_internet_service,is_multi_line_user,contract_type_code
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Mailed check,84.80,1397.475,No,Regular,High,1,1,1
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,Credit card (automatic),103.20,1397.475,No,Champion,High,1,1,1
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,Yes,Electronic check,29.60,1397.475,No,New,Low,1,0,0
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,Yes,Mailed check,74.40,1397.475,Yes,New,High,1,1,0
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Bank transfer (automatic),105.65,1397.475,No,Champion,High,1,0,2

In [25]:
'''✔ Drop unnecessary fields
Remove:
customerID, gender '''

df.drop(["customerID", "gender"], axis=1, inplace=True)